@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #636e72;
  color: white;
  margin: 20px;
}
a.me{
  color: #0cadf8;
  text-decoration: none;
}
button{
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 600px;
}

.item{
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
}

form{
  display: flex;
  justify-content: center;
}
.link{
  float: right;
}

.title{
  font-size: 1.2rem;
  font-weight: bold;
}

.center{
  text-align: center;
}

#query{
  padding: 10px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
}

#submit{
  padding: 10px;
  cursor: pointer;
}

.loading{
  max-height: 30px;
}

.heading{
  margin-bottom: 15px;
}